<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBDoXAkZ9dwkse-AVdrKRhqcLg6aRpPcu4</string>
	<key>GCM_SENDER_ID</key>
	<string>185653608297</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hilinkyDemo</string>
	<key>PROJECT_ID</key>
	<string>hilinky-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>hilinky-demo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185653608297:ios:51ac81b1168d0a944e87f8</string>
</dict>
</plist>